- content_for :page_title, "Provisioning key - " + Rails.configuration.app_title

%p#notice= notice

%p
  %b Issued at:
  = @provisioning_key.created_at || ''
%p
  %b Environment:
  = @provisioning_key.api_env
