%h1 Request access token

%p
  Complete this form to request an access token for the NOMIS API.

%p
  = link_to 'NOMIS API documentation', 'http://ministryofjustice.github.io/nomis-api/index.html', target: '_blank'

= render 'form'
